body{
    background-color: #f7f7f7;
}

.bg-grad{
    background: linear-gradient(to left, #20084B, #5098E6);
}

.btn-search{
    color: white;
    background-color: #5098E6;
}

.btn-search:hover{
    color: white;
    background-color: #4787cc;
}

.btn-history{
    background-color: #AEAEAE;
}

.bg-card{
    background-color: #2D3E50;
}

.weather-icon{
    height: 50px;
}